.name{
    width: 100%;
    height: 300px;
    background-color: #A92029;
    color: #FFFFFC;
    transform: skewY(5deg);
}

body{
    margin: 0;
    padding: 0;
    background-color: #F1F2F6;
}

.name .content{
    width: 50%;
    height: 50%;
    position: absolute;
    left: 25%;
}

.name .content .p1,.p2{
    font-family: 'IBM Plex Sans Hebrew';
    font-weight: bolder;
    font-size: 40px;
    transform: skewY(-5deg);
    margin-bottom: 0;
}
.name .content .p3, .p2{
    font-family: 'IBM Plex Sans Hebrew';
    font-size: 30px;
    transform: skewY(-5deg);
    margin-bottom: 0;
    margin-top: 0;
}

.info{
    width: 90%;
    height: auto;
    background-color: #A92029;
    margin: 5% auto;
    padding: 20px;
    border-radius: 15px;
}

.info .tituloInfo{
    color: #F1F2F6;
    font-family:'IBM Plex Sans Hebrew';
    font-weight: bolder;
    font-size: xx-large;
    text-align: center;
    border-bottom: 2px #F1F2F6 solid;
    
}

.info .infoPersona{
    color: #F1F2F6;
    font-family: 'IBM Plex Sans Hebrew';
    text-align: left;
    font-size: large;
    display: inline;
    margin-right: 5%;
}

.info .datos{
    color: #0F110C;
    font-family: 'IBM Plex Sans Hebrew';
    text-align: right,;
    display: inline;
    font-weight: bolder;
    font-size: large;
}

.info .email{
    color: #F1F2F6;
    font-family: 'IBM Plex Sans Hebrew';
    padding-top: 10cm;
    margin-right: 13%;
    font-size: large;
    display: inline;
    line-height: 2.5;
}
.info .infoemail{
    color: #0F110C;
    font-family: 'IBM PLex Sans Hebrew';
    display: inline;
    font-weight: bolder;
    font-size: large;
}

.info .telefono{
    color: #F1F2F6;
    font-family: 'IBM Plex Sans Hebrew';
    font-size: large;
    margin-right: 11%;
    display: inline;

}

.info .infoTelefono{
    color: #0F110C;
    display: inline;
    font-weight: bolder;
    font-size: large;
    font-family: 'IBM PLex Sans Hebrew';
}

.name .imagen{
    position: absolute;
    top: 20%;
    left: 5%;
    border-radius: 0%;
    width: 180px;
    height: 180px;
    transform: skewY(-5deg);
    overflow: hidden;
    border-color: black;
    border-width: 10px;
}
.name .imagenYo{
    position: absolute;
    top: 20%;
    right: 5%;
    border-radius: 0%;
    width: 180px;
    height: 180px;
    transform: skewY(-5deg);
    overflow: hidden;
    border-color: black;
    border-width: 10px;
}

.infoEducacion{
    background-color: #A92029;
    width: 90%;
    height: auto;
    margin: 5% auto;
    padding: 20px;
    border-radius: 15px;
}

.infoEducacion .educacion{
    font-size: xx-large;
    color: #F1F2F6;
    text-align: center;
    font-weight: bolder;
    font-family: 'IBM PLex Sans Hebrew';
    border-bottom: 2px #F1F2F6 solid;
}

.infoEducacion .colegio{
    color: #F1F2F6;
    font-family: 'IBM PLex Sans Hebrew';
    font-size: large;
    display: inline;
    margin-right: 15%;
}

.infoEducacion .colegioTitulo{
    color: #0F110C;
    font-family: 'IBM PLex Sans Hebrew';
    font-size: large;
    display: inline;
    font-weight: bolder;
}

.infoEducacion .universidad{
    color: #F1F2F6;
    font-size: large;
    margin-right: 6%;
    font-family: 'IBM PLex Sans Hebrew';
    display: inline;
    line-height: 3;
}

.infoEducacion .universidadTitulo{
    color: #0F110C;
    font-weight: bolder;
    font-family: 'IBM PLex Sans Hebrew';
    font-size: large;
    display: inline;

}

.infoAptitudesYPasatiempos{
    background-color: #A92029;
    width: 90%;
    height: auto;
    margin: 5% auto;
    padding: 20px;
    border-radius: 15px;
}

.infoAptitudesYPasatiempos .tituloAptitudesYPasatiempos{
    color: #F1F2F6;
    font-family: 'IBM PLex Sans Hebrew';
    font-size: xx-large;
    font-weight: bolder;
    text-align: center;
    border-bottom: 2px #F1F2F6 solid;

}

.infoAptitudesYPasatiempos .aptitudes{
    color: #F1F2F6;
    font-family: 'IBM PLex Sans Hebrew';
    font-size: large;
    margin-right: 5%;
    display: inline;
}

.infoAptitudesYPasatiempos .infoAptitudes{
    color: #0F110C;
    font-family: 'IBM PLex Sans Hebrew';
    font-size: large;
    font-weight: bolder;
    display: inline;
}

.pasatiempos{
    color: #F1F2F6;
    font-family: 'IBM PLex Sans Hebrew';
    font-size: large;
    margin-right: 2.5%;
    display: inline-block;
    line-height: 3;
}

.infoPasatiempos{
    color: #0F110C;
    font-family: 'IBM PLex Sans Hebrew';
    font-size: large;
    padding-right: 20px;
    font-weight: bolder;
    display: inline-block;
    background-color: #CDEAC0;
}

.piePagina{
    width: 100%;
    height: 200px;
    background-color: #A92029;
    color: #F1F2F6;
    font-family: 'IBM PLex Sans Hebrew';
    font-weight: bolder;
    font-size: large;
    text-align: center;
    
}

.piePagina .autor{
    padding: 30px;
}

.piePagina .actualizacion{
    line-height: 1;
}